{
  "mode": "config|service",
  "intervalInSecond": 60,
  "targetFilePath": "gen-target.json",
  "dataId": "apps-svc-1.json",
  "nacosHost": "http://10.4.9.134:8848/nacos",
  "namespaceId": "public",
  "group": "DEFAULT_GROUP",
  "cluster": "DEFAULT"
}